<div class="pl-140 pt-100 ">
    <app-breadcrumb></app-breadcrumb>
</div>
<section class="about-mobile">
    <div class="home position-relative">
        <!-- <div class="about_img  "> <img src="assets/media/images/Union1.svg" alt=""> </div> -->
        <div class="tabinfo topPadding abouts pb-100">
            <div class="row  align-items-center ">
                <div class="col-md-7 p-0 align-items-start" >
                    <div class="text-justify w-100 pe-3">
                        <div class="mw-50 ms-0">
                            <h1 class="fs-48 font-weight-bold mb-0"> Space where we
                            </h1>
                            <h1 class="fs-48 weight-100"> Create Solutions
                            </h1>
                            <p class="abt-desc mt-5">
                                Beauto is headquartered in Pune (India) with an agile team of over 150+ specialists and
                                growing.
                                <br>
                            </p>
                            <p class="abt-desc">
                                Our team is guided by eminent leadership who has excellent technical track record and
                                keen to learn, develop and deliver.
                            </p>
                        </div>
                    </div>
                </div>
              
                <div class="col-md-5 align-items-end  p-0" >
                    <div class="row row-default">
                        <div class="col-md-6 t-rightImg">
                           <img src="assets/media/images/about/1_About.jpg" class="w-100 img-fluid rounded imgespace" alt="">
                            <img src="assets/media/images/about/3-bk.png" class="w-100 img-fluid rounded " alt="">
                        </div>
                        <div class="col-md-6 aboutt">
                            <img src="assets/media/images/about/2-bk.png" class="w-100 img-fluid rounded imgespace" alt="">
                            <img src="assets/media/images/about/4-bk.png" class="w-100 img-fluid rounded " alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="bg-light">
    <div class="tabinfo">
        <div class="py-5">
            <div class="row no-gutter no-gutter-4k">
                <div class="col-md-4 mb-3">
                    <div class="box-1  ">
                        <h5 class="title w-700">Mission</h5>
                        <p class="font-change justify-text">
                            For consumer to choose us & our employee to join us inspired by our drive for innovation, efficiency & social resposibility.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="box-2  ">
                        <h5 class="title w-700">Vision</h5>
                        <p class="font-change justify-text ">
                            Ambition is to achieve sustainable progress in the areas where we operate & innovative solutions by collabrating together with clients & our employees. We belive in building long term relationships & strategic partnerships on mutual trust & respect.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="box-3  ">
                        <h5 class="title w-700">Values</h5>
                        <p class="font-change justify-text">
                            UNITY : We always stand together. <br>
                            RESPECT : Mutual understanding with trust. <br>
                            INNOVATION : Churning revolutionary ideas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="  ">
    <div class="tabinfo custom_width">
        <div class="pt-100 pb-100">
            <div class="position-relative">
                <h6 class="title pb-3">Beauto Journey</h6>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div>

                        <div class="step justify-content-between ps-0 pt-0">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="position-relative">
                                    <img *ngIf="activeIndex==0" src="assets/media/icons/launch-icon-color.svg" class=""
                                        alt="">
                                    <img *ngIf="activeIndex!=0" src="assets/media/icons/launch-icon.svg" class=""
                                        alt="">
                                    <div class="line"></div>
                                </div>
                                <div class="content">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold"> 2023 </h6>

                                    </div>
                                    <p class="w-500 small-font">Successfull 6th Aniversary Celebration</p>
                                </div>
                            </div>
                        </div>
                        <div class="step justify-content-between ps-0 pt-0">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="position-relative">
                                    <img *ngIf="activeIndex==1" src="assets/media/icons/launch-icon-color.svg" class=""
                                        alt="">
                                    <img *ngIf="activeIndex!=1" src="assets/media/icons/launch-icon.svg" class=""
                                        alt="">
                                    <div class="line"></div>
                                </div>
                                <div class="content">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold"> 2022 </h6>

                                    </div>
                                    <p class="w-500 small-font">Successfull 5th Aniversary Celebration</p>
                                </div>
                            </div>
                        </div>

                        <div class="step justify-content-between ps-0">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="position-relative">
                                    <img *ngIf="activeIndex==2" src="assets/media/icons/launch-icon-color.svg" class=""
                                        alt="">
                                    <img *ngIf="activeIndex!=2" src="assets/media/icons/launch-icon.svg" class=""
                                        alt="">
                                    <div class="line"></div>
                                </div>
                                <div class="content">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold"> 2021 </h6>

                                    </div>
                                    <p class="w-500 small-font">Grown The Digital Product Design Team</p>
                                </div>
                            </div>
                        </div>

                        <div class="step justify-content-between ps-0">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="position-relative">
                                    <img *ngIf="activeIndex==3" src="assets/media/icons/launch-icon-color.svg" class=""
                                        alt="">
                                    <img *ngIf="activeIndex!=3" src="assets/media/icons/launch-icon.svg" class=""
                                        alt="">
                                    <div class="line"></div>
                                </div>
                                <div class="content">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold"> 2020 </h6>
                                    </div>
                                    <p class="w-500 small-font">Grown The Digital Product Design Team</p>
                                </div>
                            </div>
                        </div>


                        <ng-container *ngIf="continue">

                            <div class="step justify-content-between ps-0">
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="position-relative">
                                        <img *ngIf="activeIndex==4" src="assets/media/icons/launch-icon-color.svg"
                                            class="" alt="">
                                        <img *ngIf="activeIndex!=4" src="assets/media/icons/launch-icon.svg" class=""
                                            alt="">
                                        <div class="line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold"> 2019 </h6>
                                        </div>
                                        <p class="w-500 small-font">Launch First Digital Product.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="step justify-content-between ps-0">
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="position-relative">
                                        <img *ngIf="activeIndex==5" src="assets/media/icons/launch-icon-color.svg"
                                            class="" alt="">
                                        <img *ngIf="activeIndex!=5" src="assets/media/icons/launch-icon.svg" class=""
                                            alt="">
                                        <div class="line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold"> 2018 </h6>
                                        </div>
                                        <p class="w-500 small-font">Build Foundation Team.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="step justify-content-between ps-0">
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="position-relative">
                                        <img *ngIf="activeIndex==6" src="assets/media/icons/launch-icon-color.svg"
                                            class="" alt="">
                                        <img *ngIf="activeIndex!=6" src="assets/media/icons/launch-icon.svg" class=""
                                            alt="">
                                        <div class="line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold"> 2017 </h6>
                                        </div>
                                        <p class="w-500 small-font">2017 Founded</p>
                                    </div>
                                </div>
                            </div>

                        </ng-container>
                        <a href="javascript:void(0)" class="step ps-0" (click)="viewAll()">
                            <div class="position-relative">
                                <img src="assets/media/icons/arrow_down.svg"
                                    [ngClass]="{'transform-rotate' : continue == true}" class="" alt="">
                                <div class="line"></div>
                            </div>

                            <div class="content">
                                <p class="w-500">{{continue == false ? 'View More' : 'View Less'}}</p>
                            </div>
                        </a>

                    </div>

                </div>
                <div class="col-md-7 p-0">

                    <swiper id="case-study" #swiper [virtual]="true" [slidesPerView]="1" [spaceBetween]="30"
                        [slidesPerGroup]="1" [loopFillGroupWithBlank]="true" [navigation]="true"
                        class="mySwiper stones">
                        <ng-template swiperSlide *ngFor="let csi of stones">
                            <div class="img-container">
                                <img src="{{csi.pic}}" class="img-fluid image w-100" alt="">
                                <h6 class="my-4">{{csi.year}}</h6>
                                <p class="mw-50 ms-0 font-change">{{csi.desc}}</p>
                            </div>
                        </ng-template>

                    </swiper>

                    <div class="swiper-padding">
                        <button (click)="slidePrev() " class="sbutton-prev mb-2"
                            [ngClass]="{'sbutton-disabled':disablePrev===true}"></button>
                        <button (click)="slideNext()" class="sbutton-next"
                            [ngClass]="{'sbutton-disabled':disableNext===true}"></button>
                    </div>




                </div>

            </div>
        </div>
    </div>
</section>

<section class="awards">
    <div class="bg-light">
        <div class="tabinfo pt-100 pb-100">
            <div class="position-relative">
                <h6 class="swiper_top title  ">Certificates & Awards</h6>
            </div>
            <div class="awards">
                <swiper id="case-study" [slidesPerView]="4" [spaceBetween]="30" [slidesPerGroup]="1" [loop]="false"
                    [loopFillGroupWithBlank]="true" [navigation]="true" class="pt-85 mySwiper">
                    <ng-template swiperSlide *ngFor="let csi of certificate">
                        <div class="img-container certi">
                            <img src="{{csi}}" class="img-fluid image center" alt="">
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</section>

<section class="newHome">
    <div class="tabinfo pt-100">
        <div class="mb-3 position-absolute">
            <div>
                <span class="title">Our CSR Initiatives</span>
            </div>
        </div>
    </div>

    <div class="initiatives achievements position-relative d-flex align-items-center">
        <div class="tabinfo pb-100">
            <swiper [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="1" [spaceBetween]="50"
                [navigation]="true" class="mySwiper" class="pt-85">
                <ng-template swiperSlide *ngFor="let awards of about">
                    <div class="row justify-content-between">
                        <div class="col-md-5 p-0 achievementsBG">
                            <img class="img-fluid" src="{{awards.pic}}" alt="" />
                        </div>
                        <div class="col-md-6 p-0 d-flex align-items-center">
                            <div class="ms-5 p-5 text-left card-shadow">
                                <div class="awardsTitle">{{awards.title}}</div>
                                <div class="awardsDesc mb-2">{{awards.desc}}</div>
                                <div *ngFor="let alink of awards.links" class="d-inline">
                                    <a href="{{alink.link}}" target="_blank" *ngIf="alink.link!=''">
                                        <img src="{{alink.symbol}}" width="20" height="20" alt=""
                                            *ngIf="alink.symbol!=''">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>


</section>

<app-all-work-slider [ourWorksItems]="ourWorksItems" [title]="title"></app-all-work-slider>