<section class="pt-100 pb-100">
    <div class="tabinfo">

        <div class="center">
            <img src="../../../../assets/media/images/ayyu/b1.png" alt="">
        </div>


    </div>


    <section class="bgtech">
        <div class="tabinfo">
            <div class="row">
                <div class="col-md-4">
                    <div class="techtitle">Tech Specs</div>

                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="listtechde">
                                <div class="maintitle">Power input</div>
                                <div class="subtitle">220v, 50Hz (12V 2A adapter provided)</div>
                            </div>


                            <div class="listtechde">
                                <div class="maintitle">Power consumed</div>
                                <div class="subtitle">10W while Sensor is activated. 1W in standby</div>
                            </div>

                            <div class="listtechde">
                                <div class="maintitle">Adapter</div>
                                <div class="subtitle">12V 2A, 5.5×2.5 Barrel connector</div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="listtechde">
                                <div class="maintitle">Control</div>
                                <div class="subtitle">Microcontroller based</div>
                            </div>


                            <div class="listtechde">
                                <div class="maintitle">Sensor type</div>
                                <div class="subtitle">Ultrasonic</div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="bgtechWhite">
        <div class="tabinfo">
            <div class="row">
                <div class="col-md-4">
                    <div class="techtitle">About Product</div>

                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="listtechde">
                                <div class="maintitle">Varient</div>
                                <div class="subtitle">1 ltr, 3 ltr</div>
                            </div>


                            <div class="listtechde">
                                <div class="maintitle">Liquid type</div>
                                <div class="subtitle">Thin liquid / Gel type – Sanitizer or Soap</div>
                            </div>

                            <div class="listtechde">
                                <div class="maintitle">Adapter</div>
                                <div class="subtitle">12V 2A, 5.5×2.5 Barrel connector</div>
                            </div>

                            <div class="listtechde">
                                <div class="maintitle">Color</div>
                                <div class="subtitle">Dark black</div>
                            </div>


                            <div class="listtechde">
                                <div class="maintitle">Body</div>
                                <div class="subtitle">ABS plastic</div>
                            </div>


                        </div>

                        <div class="col-md-4">

                            <div class="listtechde">
                                <div class="maintitle">Dimensions</div>
                                <div class="subtitle">150mm x 108mm x 250mm</div>
                            </div>


                            <div class="listtechde">
                                <div class="maintitle">Dispensed volume</div>
                                <div class="subtitle">1ml to 10 ml (Regulator controlled)</div>
                            </div>



                            <div class="listtechde">
                                <div class="maintitle">Dispenser Weight</div>
                                <div class="subtitle">715 grams</div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="bgtech">
        <div class="tabinfo">
            <div class="row">
                <div class="col-md-4">
                    <div class="techtitle">Controlls & Indications</div>

                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="listtechde">
                                <div class="maintitle">LED indication</div>
                                <div class="subtitle">Yes, Blue LED illuminates if sensor is activated</div>
                            </div>


                            <div class="listtechde">
                                <div class="maintitle">Level detection</div>
                                <div class="subtitle">Yes, Blue LED illuminates if sensor is activated</div>
                            </div>


                        </div>

                        <div class="col-md-4">


                            <div class="listtechde">
                                <div class="maintitle">Auto stop</div>
                                <div class="subtitle">Yes (after 3 dispenses)</div>
                            </div>


                            <div class="listtechde">
                                <div class="maintitle">Manual override</div>
                                <div class="subtitle">Yes, Push button provided</div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="bgtechWhite">
        <div class="tabinfo">
            <div class="row">
                <div class="col-md-4">
                    <div class="techtitle">About Product</div>

                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="listtechde">
                                <div class="subtitle">Ayu Dispenser</div>
                            </div>


                            <div class="listtechde">
                                <div class="subtitle">Power Adaptor</div>
                            </div>

                            <div class="listtechde">
                                <div class="subtitle">Instruction Manual</div>
                            </div>


                        </div>

                        <div class="col-md-4">

                            <div class="listtechde">
                                <div class="subtitle">Product Poster</div>
                            </div>


                            <div class="listtechde">
                                <div class="subtitle">Marking Templete</div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>


</section>