<div class=" ">
    <div class="Introduction">
        <section class="bannerDesing">
            <div class="bg-video-wrap">
                <video class="background" loop autoplay playsinline oncanplay="this.play()"
                    onloadedmetadata="this.muted = true">
                    <source src="assets/media/video/electronics.mp4" type="video/mp4" />
                    <track label="English" kind="captions" default>
                </video>
                <div class="overlay">
                </div>
                <div class="v_banner test">
                    <div> We build <span>
                            <br> Embedded, Automation & Power Solutions </span>
                    </div>

                    <!-- <div>physical and digital products</div> -->

                    <div class="v_subtitle">
                        We are a research driven, product development and manufacturing company.
                    </div>

                    <a href="https://www.youtube.com/watch?v=ALQS-521znU" target="_blank" class="mt-4 btn btn-primary">Check out more
                        <img src="assets/media/icons/play.svg" class="ms-2">
                    </a>

                </div>
            </div>
        </section>

        <section class="bggary sectionsapce">
            <div class="tabinfo">
                <div class="designprocess">
                    <div class="home-beauto">
                        <div>
                            <span class="title  ">Ideation To Product Delivery</span>
                        </div>
                    </div>

                    <img src={{gifUrl}} alt=""  >
                </div>
            </div>
        </section>

        <section class="pt-100 ourstrengths">
            <div class="bgbluecard">
            </div>
            <div class="tabinfo">
                <div class="ourstrengths">
                    <div class="home-beauto">
                        <div>
                            <span class="title  ">Our Skills/Strengths</span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
                            <!--box1-->
                            <div class="card-gary">
                                <div>
                                    <img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                                    <img src="assets/media/images/electronics/PCB-Design.gif" alt=""></div>
                                <div class="cardtitle"> PCB Designing</div>
                                <div class="dsc">Schematic Capture, PCB <br> Designing, Layout, <br> Component
                                    Selection.
                                </div>
                            </div>
                            <!--boxend-->

                            <!--box1-->
                            <div class="card-white cardspace">
                                <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                                    <img src="assets/media/images/electronics/Contract-Manufacturing.gif" alt=""></div>
                                <div class="cardtitle"> Contract Manufacturing</div>
                                <div class="dsc">End to end product design,<br> development and turnkey<br> bulk
                                    manufacturing and <br>assembly.</div>
                            </div>
                            <!--boxend-->
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 m-cardspace">
                            <!--box1-->
                            <div class="card-white ">
                                <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                                    <img src="assets/media/images/electronics/Embeded.gif" alt=""></div>
                                <div class="cardtitle"> Embeded Software Development</div>
                                <div class="dsc">Embedded C, C++, Python, ARM & AVR <br>Microcontrolls, Windows and
                                    Linux Apps
                                </div>
                            </div>
                            <!--boxend-->

                            <!--box1-->
                            <div class="card-gary cardspace">
                                <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                                    <img src="assets/media/images/electronics/IOT-Products.gif" alt=""></div>
                                <div class="cardtitle"> IoT Product Development</div>
                                <div class="dsc">Wireless devices, Wi-Fi, LoRAWAN,<br> ZigBee, Bluetooth, Mesh
                                    Topologies, <br>IoT on AWS and Azure </div>
                            </div>
                            <!--boxend-->
                        </div>

                        <div class="col-sm-12 col-md-12 col-xl-4 col-xxl-4">

                            <div class="tabgirdindi">
                            <!--box1-->
                            <div class="card-gary">
                                <div>
                                    <img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                                    <img src="assets/media/images/electronics/Box-And-Assembly.gif" alt=""></div>
                                <div class="cardtitle">Box Build Assembly</div>
                                <div class="dsc">Product development, embeded <br>systems and enclosures to suit
                                    <br>your product needs
                                </div>
                            </div>
                            <!--boxend-->

                            <!--box1-->
                            <div class="card-white cardspace">
                                <div>
                                    <img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                                    <img src="assets/media/images/electronics/System-Integration.gif" alt=""></div>
                                <div class="cardtitle"> System Integration</div>
                                <div class="dsc">Control & Instrumentation, PLC, HMI,<br> SCADA, Field Instruments,
                                    Industrial<br> Automation</div>
                            </div>
                            <!--boxend-->
                        </div>
                        </div>

                    </div>


                </div>


            </div>
        </section>

        <section class="pb-100 above-quotes-space below-quotes-space  ">
            <div class="tabinfo">
                <div class="quotes ">
                    <div class="bg">
                        <div>
                            <span>The</span>
                            <span class="desing-sc-bold"> F</span><span class="design-sc-normal">uture
                                of innovation</span>
                            <span> has to include not</span> <br>
                            <span> only the technology but</span>
                            <span class="desing-sc-bold"> E</span><span class="design-sc-normal">conomic viability.</span>
                        </div>
                    </div>
                    <div class="quotesAu"> - Dennis Muilenburg (CEO, Boeing) </div>
                </div>
            </div>

        </section>
<!-- 
        <section>
            <app-case-studies [caseStudyItems]="caseStudyItems" [title]="title"></app-case-studies>
        </section> -->

    </div>
    <!--end Introduction-->

</div>