<div class="pl-140 pt-100 ">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class=" ">

  <div class="tabcusmeting">
    <div class="tabinfo topPaddingDomainPage">
      <ul class="scrolling-wrapper">
        <li (click)="servicesView('Design')" [ngClass]="{'active': tabchanedrop === 'Design'}"> 
          <span *ngIf="dropdownshow !== 'Design'">Design</span>
          <div class="arrow_icon" *ngIf="dropdownshow == 'Design'">
            <button class="border-0" mat-icon-button [matMenuTriggerFor]="menusec"
                (click)="$event.stopPropagation()"> Design <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>
        <mat-menu #menusec="matMenu" backdropClass="servicescustomize" class="servicescustomizeclass">
            <button mat-menu-item (click)="servicesViewInnpage('Physical Product Design')"
                >Physical Product Design</button>
            <button mat-menu-item (click)="servicesViewInnpage('UI-UX Design')">UI-UX Design</button>
            <button mat-menu-item (click)="servicesViewInnpage('Graphics Design')">Graphics Design</button>
            <button mat-menu-item (click)="servicesViewInnpage('Animation & VFX Design')">Animation & VFX Design</button>
            <button mat-menu-item (click)="servicesViewInnpage('Photography')">Photography</button>
        </mat-menu>

           </li>
        <li (click)="servicesView('Software')" [ngClass]="{'active': tabchanedrop === 'Software'}">

          <span *ngIf="dropdownshow !== 'Software'">Software</span>
          <div class="arrow_icon" *ngIf="dropdownshow == 'Software'">
            <button class="border-0" mat-icon-button [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"> Software <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>

          <mat-menu #menu="matMenu" backdropClass="servicescustomize" class="servicescustomizeclass">

          <button mat-menu-item (click)="servicesViewInnpage('Product Development')">Product Developement</button>
          <button mat-menu-item (click)="servicesViewInnpage('Mobile & Web Development')">Mobile and Web Developement</button>
          <button mat-menu-item (click)="servicesViewInnpage('Architecture & Design')">Architecture and Design</button>
          <button mat-menu-item (click)="servicesViewInnpage('Data Science')">Data Science</button>
          <button mat-menu-item (click)="servicesViewInnpage('AR/VR')">AR/VR</button>
          <button mat-menu-item (click)="servicesViewInnpage('Consulting & Staffing')">Consulting and Staffing</button>
          <button mat-menu-item (click)="servicesViewInnpage('Infra Services')">Infra Services</button>
          <button mat-menu-item (click)="servicesViewInnpage('Technology Consulting')">Technology Consulting</button>
        </mat-menu>
        </li>
        <li (click)="servicesView('Electronics')" [ngClass]="{'active': tabchanedrop === 'Electronics'}">Electronics
        </li>
      </ul>
    </div>
  </div>


  <section class="pb-200" *ngIf="!showDetail">
    <div class="tabinfo responsive-top-spacing-softSer">
        <div class="pt-100 spacetab">

<div *ngFor="let owi of ourWorksItems">
            <div class="leftservices" *ngIf="owi.card == 'leftservices'">
                <div class="boxcard overlapleft">
                    <div class="boxcardtitle">{{owi.title}}</div>
                    <div class="boxcardSub">{{owi.desc}}</div>
                    <div class="hashtag">
                        <ul>
                            <li *ngFor="let tag of owi.tag"> {{tag}}</li>

                        </ul>
                    </div>

                    <div  class="redmoreservices" *ngIf="owi.category !== 'Electronics'">
                      <a href="javascript:void(0)" class="read-mores" (click)="onExplore(owi.title,owi.category)">Read
                        More</a>
                    </div>
                </div>
                <div class="imgservies">
                    <img [src]="owi.pic" alt="">
                </div>
            </div>

            <div class="rightservices" *ngIf="owi.card == 'rightservices'">

                <div class="imgservies">
                    <img [src]="owi.pic" alt="">
                </div>
                <div class="boxcard overlapright">
                    <div class="boxcardtitle">{{owi.title}}</div>
                    <div class="boxcardSub">{{owi.desc}}</div>
                    <div class="hashtag">
                        <ul>
                            <li *ngFor="let tag of owi.tag"> {{tag}}</li>

                        </ul>
                    </div>
                    <div  class="redmoreservices" *ngIf="owi.category !== 'Electronics'">
                        <a href="javascript:void(0)" class="read-mores" (click)="onExplore(owi.title,owi.category)">Read
                            More</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>



<app-product-design *ngIf="showDetail && service == 'Physical Product Design' "></app-product-design>
<app-uiuxdesign *ngIf="showDetail && service == 'UI-UX Design' "></app-uiuxdesign>
<app-graphicsdesign *ngIf="showDetail && service == 'Graphics Design' "></app-graphicsdesign>
<app-animation *ngIf="showDetail && service == 'Animation & VFX Design' "></app-animation>
<app-photography *ngIf="showDetail && service == 'Photography' "></app-photography>

<app-product-developement *ngIf="showDetail && service == 'Product Development' "></app-product-developement>
<app-mobile-web-developement *ngIf="showDetail && service == 'Mobile & Web Development' "></app-mobile-web-developement>
<app-architecture-design *ngIf="showDetail && service == 'Architecture & Design' "></app-architecture-design>
<app-data-science *ngIf="showDetail && service == 'Data Science' "></app-data-science>
<app-ar-vr *ngIf="showDetail && service == 'AR/VR' "></app-ar-vr>
<app-consulting-staffing *ngIf="showDetail && service == 'Consulting & Staffing' "></app-consulting-staffing>
<app-infra-service *ngIf="showDetail && service == 'Infra Services' "></app-infra-service>
<app-technology-consulting *ngIf="showDetail && service == 'Technology Consulting' "></app-technology-consulting>

<app-case-studies [caseStudyItems]="caseStudyItems" [title]="title"></app-case-studies>
</div>