@import "includes";

.shadow-box {
    position: relative;
    left: 0px;
    z-index: 1;
    background: $white;
    box-shadow: 2px 2px 20px 0px #00000014;
    padding: 2rem;
    border-radius: 10px;
}
.rounded-10 {
    border-radius: 10px !important;
}

.tabinfo.case-studies:before {
    margin-top: 100px;
}

.tabinfo.case-studies:before {
    content: "";
    position: absolute;
    height: 50px;
    background: #2673e526;
    width: 100%;
    left: 0;
    z-index: -1;
}

.tabinfo.case-studies:after {
    margin-top: -200px;
}

.tabinfo.case-studies:after {
    content: "";
    position: absolute;
    height: 50px;
    background: #2673e526;
    width: 100%;
    left: 0;
    z-index: -1;
}
