<div class="innbanners">
    <div class="row align-items-center m-0 services-top">
        <div class="col-md-5 offset-md-1 pb-4 mb-2 pb-md-0 mb-md-0 pt-4 mt-2 mt-md-0 pt-md-0">
            <div class="info">
                <div class="bannertxt"> Physical Product</div>
                <div class="subbannertxt">Design</div>
                <div class="subinfo">
                    We make innovative and beautiful physical products.
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0 video-4k">
            <div class="y-tube">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/b7MSRW6jrfU?controls=1&autoplay=0"
                    title="product design" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<section class="bggary sectionsapce">
    <div class="tabinfo">
        <div class="designprocess">
            <div class="">
                <div>
                    <span class="title mb-4  ">What is Physical Product Design ?</span>
                </div>
            </div>
            <div class="physicalInfo  ">
                <p class="what-is-design-text">Our experienced product designers prioritize research and development to
                    create aesthetically pleasing and functional physical product designs. We work closely with clients
                    to ensure each design meets their specific needs. Using advanced technology, we create 3D models and
                    prototypes to refine our designs before market launch. Our attention to detail ensures durable and
                    reliable products that satisfy and retain customers.</p>
            </div>
        </div>
    </div>
</section>

<section class="sectionsapce ourstrengths">

    <div class="tabinfo">
        <div class="ourstrengths">
            <div class=" ">
                <div>
                    <span class="title mb-4  ">Our Capabilities</span>
                </div>
            </div>

            <div class="ourbg">

                <div class="row m-0">
                    <div class="col-sm-12 col-md-7 col-lg-6 col-xl-5 col-xxl-5 t-center" > <img
                        src="assets/media/images/our-capabilitites/Product-Design.gif" alt="" class="gif-file"> </div>
                    <div class=" col-sm-12 col-md-7 col-lg-6 col-xl-7 col-xxl-7  ">

                        <div class="Capabilitiesinfo">

                            <ul>
                                <li>Conceptualisation</li>
                                <li>CAD Modeling</li>
                                <li>Rendering</li>
                                <li>CMF Design</li>
                                <li>Product Support</li>
                                <li>Product Detailing</li>
                                <li>Prototyping and Testing</li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<section class="bggary">
    <app-case-studies [caseStudyItems]="caseStudyItems" [title]="title"></app-case-studies>
</section>

<section class="sectionsapce  ">
    <div class="tabinfo">

        <div class="quotes ">


            <div class="bg">
                <div>
                    Designing a <br />
                    <span class="design-sc-font-size">
                        <span class="desing-sc-bold">P</span>roduct
                    </span>
                    is designing a
                    <span class="design-sc-font-size">
                        <span class="desing-sc-bold">R</span>elation.
                    </span>
                </div>
            </div>


            <div class="quotesAu"> - Steve Rogers </div>

        </div>
    </div>

</section>

<section class="bglet" *ngIf="!connectClicked">
    <div class="Somethingbtn position-relative">
        <div class="t-em">
            Let's Design <br>
            Something Together!
            <br>
            <a href="javascript:void(0)" (click)="connect()" class="mt-5 btn btn-secondary">
                Connect now
            </a>
        </div>
        <img width="200px" src="assets/media/images/logo_outline.svg" alt="" class="logo-shadow">
    </div>
</section>

<app-connect-now *ngIf="connectClicked" (close)="connectCloseClicked($event)"></app-connect-now>