<!-- <div class="pl-140 pt-100 ">
    <app-breadcrumb></app-breadcrumb>
</div>
<mat-tab-group mat-align-tabs="start" (selectedTabChange)="onChangeTab($event)">
    <mat-tab label="Introduction">
        <app-mechanical-introduction></app-mechanical-introduction>
    </mat-tab>
    <mat-tab label="Our Work">
        <app-our-works [ourWorksItems]="ourWorksItems"></app-our-works>
    </mat-tab>
    <mat-tab label="Blogs">
        <app-blogs [blogItems]="blogItems"></app-blogs>
    </mat-tab>
</mat-tab-group> -->
