<section class="pt-100 pb-100">
    <div class="tabinfo">

        <section class="bannerprodcut">
            <div class="maintitle">AYU,</div>
            <div class="sub">keeps you safe!</div>
            <div class="understandmore">
             <a href="https://www.youtube.com/watch?v=K2jCnqyXFgo&list=PLFdT4A0qZcgIFiY_3isltKXq1CQycIXfm" target="_blank"> Understand more <img src="assets/media/icons/Arrow-Link.svg" class="arrow_anim" alt="" style="margin-left: 5px;"> </a>  
            </div>

            <div>
                <swiper [zoom]="false" [autoplay]="true">
                    <ng-template swiperSlide class="custom-class" >
                        <img src="assets/media/images/ayyu/b1.png" alt="" />
                    </ng-template>
                    <ng-template swiperSlide>
                        <img src="assets/media/images/ayyu/b2.png" alt="" />
                    </ng-template>
                </swiper>
            </div>
        </section>
    </div>

    <div class="rang">

        <div class="tabinfo">

            <div class="innrage">

                <div class="tcenter rageinfo">
                    We have brought Ayu, the range of automatic <br> hand sanitizer & soap dispenser.
                </div>

                <div class="radiussection">

                    <div>
                        <div class="imgtitlegal">Liquid</div>
                        <div class="imagecri">
                            
                            <div>
                                <img src="../../../../assets/media/images/ayyu/Liquid.png" alt=""> 
                            </div>    
                           
                        </div>
                    </div>
               
                    <div>
                        <div class="imgtitlegal">Gel</div>
                        <div class="imagecri">
                            
                            <img src="../../../../assets/media/images/ayyu/Gel.png" alt="">
                         </div>
                    </div>

                </div>
            </div>

        </div>



    </div>


    <div class="tabinfo">

        <div class="features"> Features     </div>


        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 garybg">

                <div class="featurescard">

                    <div> <img src="assets/media/images/ayyu/icon1.svg" alt=""> </div>
                    <div>Contactless operating</div>
                </div>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

                <div class="featurescard">

                    <div> <img src="assets/media/images/ayyu/icon2.svg" alt=""> </div>
                    <div>Variable volume dispensing</div>
                </div>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 garybg">

                <div class="featurescard">

                    <div> <img src="assets/media/images/ayyu/icon3.svg" alt=""> </div>
                    <div>Auto stop</div>
                </div>

            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

                <div class="featurescard">

                    <div> <img src="assets/media/images/ayyu/icon4.svg" alt=""> </div>
                    <div>Manual override</div>
                </div>

            </div>

            


            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 garybg">

                <div class="featurescard">

                    <div> <img src="assets/media/images/ayyu/icon5.svg" alt=""> </div>
                    <div>Level indication</div>
                </div>

            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

                <div class="featurescard">

                    <div> <img src="assets/media/images/ayyu/icon6.svg" alt=""> </div>
                    <div>LED indication</div>
                </div>

            </div>
            
        </div>

    </div>


    <div>
        <div class="pproduct"> Premium product </div>
        <div class="subtitlepreemium ppspace">Make your life safer and add beauty to your walls with AYU.</div>


        <div>
            <swiper  [autoplay]="true">
                <ng-template swiperSlide class="custom-class" >
                    <img src="assets/media/images/ayyu/Premium_product_1.png" style="width:100%" alt="" />
                </ng-template>
                <ng-template swiperSlide>
                    <img src="assets/media/images/ayyu/Premium_product_2.png" style="width:100%" alt="" />
                </ng-template>
            </swiper>
        </div>

        
    </div>



    <div class="bgadd ">

        <div class="features">  Add ons     </div>

       <div class="blugeadd m_pSpce">
        <div class="tabinfo">
            <div class="row ai">
                <div class="col-md-6">

                    <div class="addtitleon">Table top stand</div>
                    <div class="addtitleonsub">Birch is a hardwood that is extremely strong and durable. A beautiful appearance, with a fine grain and pale colouring which gives it an elegant look for clean line interior product designs.</div>
                </div>
                <div class="col-md-6 tcenter">

                    <img src="../../../../assets/media/images/ayyu/TAble_top_stand.png" alt="">

                </div>

            </div>

        </div>

       </div>

       <div class="m_pSpce">
        <div class="tabinfo">
            <div class="row ai">
                <div class="col-md-6 tcenter">

                    <img src="../../../../assets/media/images/ayyu/floor_stand.png" alt="">

                </div>

                <div class="col-md-6">

                    <div class="addtitleon">Floor stand</div>
                    <div class="addtitleonsub">Birch is a hardwood that is extremely strong and durable.
                         A beautiful appearance, with a fine grain and pale colouring which gives it
                         an elegant look for clean line interior product designs.</div>
                </div>


            </div>

        </div>

       </div>

       <div class="blugeadd m_pSpce">
        <div class="tabinfo">
            <div class="row ai">
                <div class="col-md-6">

                    <div class="addtitleon">Wall mounting plate</div>
                    <div class="addtitleonsub">Birch is a hardwood that is extremely strong and durable. A beautiful appearance, with a fine grain and pale colouring which gives it an elegant look for clean line interior product designs.</div>
                </div>
                <div class="col-md-6 tcenter">

                    <img src="../../../../assets/media/images/ayyu/TAble_top_stand.png" alt="">

                </div>

            </div>

        </div>

       </div>
        
    </div>


    <app-all-work-slider [ourWorksItems]="ourWorksItems" [title]="title"></app-all-work-slider>

</section>