<section>
    <div class="position-relative p-5">
        <button class="close btn" (click)="closeDialog()">X</button>
        <h4><span class="w-normal"> Get In </span><strong> Touch</strong></h4>

        <form action="">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="First Name" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Last Name" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <div class="position-relative">
                        <mat-icon class="email"> email</mat-icon>
                        <input type="email" placeholder="Email Address" class="form-control ps-5">
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="position-relative">
                        <mat-icon class="mobile">mobile_friendly</mat-icon>
                        <input type="text" placeholder="Contact Number" maxlength="14" class="form-control ps-5">
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <textarea name="" id="" cols="30" rows="5" class="form-control"
                        placeholder="Your Message"></textarea>
                </div>
                <div class="col-md-12 mb-3">
                    <select name=" " class="form-control" id="">
                        <option value="">Budget</option>
                        <option value="">Category</option>
                    </select>
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <a href="#" class="btn btn-primary"> Sendfrrrr </a>
                </div>
            </div>
        </form>
    </div>
</section>