<div class="innbanners">
    <div class="row align-items-center m-0 services-top">
        <div class="col-md-5 offset-md-1 pb-4 mb-2 pb-md-0 mb-md-0 pt-4 mt-2 mt-md-0 pt-md-0">
            <div class="info">
                <div class="bannertxt">Technology</div>
                <div class="subbannertxt">Consulting</div>
                <div class="subinfo">Unleash your business potential with our technology optimization services</div>
            </div>
        </div>
        <div class="col-md-6 p-0 video-4k">
            <div class="y-tube">
                <!-- <iframe width="100%" height="415" src="https://www.youtube.com/embed/wT3oce4Uibk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
                <video width="100%" height="auto" autoplay muted>
                    <source src="assets/media/images/pagein/Software/Technology Consulting.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<section class="bggary sectionsapce">
    <div class="tabinfo">
        <div class="designprocess">
            <div class="home-beauto">
                <div>
                    <span class="title  ">What we offer</span>
                </div>
            </div>

            <div class="physicalInfo  ">
                <p class="what-is-design-text">We help organizations to evaluate and optimize the use of technology in
                    order to improve their business operations. We work with clients to understand their business needs,
                    assess the current technology infrastructure, and make recommendations for improvements. This can
                    include identifying new technologies to adopt, developing custom software solutions, and helping to
                    streamline processes. We also help you to manage the implementation of new technology and provide
                    ongoing support to ensure the technology continues to meet the needs of the business. We bridge the
                    gap between business and technology.</p>
            </div>
        </div>
    </div>
</section>

<section class="sectionsapce ourstrengths">

    <div class="tabinfo">
        <div class="ourstrengths">
            <div class="home-beauto">
                <div>
                    <span class="title  ">Our Capabilities</span>
                </div>
            </div>

            <div class="ourbg">

                <div class="row m-0">

                    
                    <div class="col-md-6 t-center  ">
                         <img src="assets/media/images/our-capabilitites/08_Software_Tech_Consulting_GIF.gif" alt="" class="gif-file">
                    </div>
                    <div class="col-md-6  ">

                        <div class="Capabilitiesinfo">
                            <ul>
                                <li>Tech usage evaluation and optimization</li>
                                <li>Tech inmplementation management</li>
                                <li>Tech infra evaluation and recommendations</li>
                                <li>Adoption of new technologies</li>
                                <li>Custom software build</li>
                                <li>Process improvement</li>
                                <li>Business needs analysis</li>
                                <li>Ongoing tech support</li>
                                <li>Business-tech bridging</li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<section class="bggary">
    <app-case-studies [caseStudyItems]="caseStudyItems" [title]="title"></app-case-studies>
</section>
<!-- 
<section class="sectionsapce">
    <div class="tabinfo">
        <div class="quotes ">
            <div class="bg">
                <div>
                    Photography helps
                    <span class="desingC">
                        <span class="desing-sc-bold">P</span>eople
                        <span class="quotes"> to </span><span class="desing-sc-bold">S</span>ee
                    </span>
                </div>
            </div>
            <div class="quotesAu">- Walt Disney</div>
        </div>
    </div>
</section> -->
<section class="bglet" *ngIf="!connectClicked">
    <div class="Somethingbtn position-relative">
        <div class="t-em">
            Let's Build <br>
            Something Awesome!
            <br>
            <a href="javascript:void(0)" (click)="connect()" class="mt-5 btn btn-secondary">
                Connect now
            </a>
        </div>
        <img width="200px" src="assets/media/images/logo_outline.svg" alt="" class="logo-shadow">
    </div>
</section>

<app-connect-now *ngIf="connectClicked" (close)="connectCloseClicked($event)"></app-connect-now>