<section class="bannerDesing">
    <div class="bg-video-wrap">
        <video class="background"  loop autoplay playsinline oncanplay="this.play()"
        onloadedmetadata="this.muted = true">
            <source src="assets/media/video/Mechanical.mp4" type="video/mp4" />
            <track label="English" kind="captions" default>
        </video>
        <div class="overlay">
        </div>
        <div class="v_banner test">
            <!-- <img src="assets/media/images/logo_outline.svg" alt="" class="bImg"> -->
            <div> We <span>Design </span> so it works
            </div>
            <!-- <div>Our products solutions make customer forget maintenance schedules and focus  on productivity</div> -->
            <div class="v_subtitle">
                Our Product and project solutions makes the customer forget maintenance schedules and focus only on their productivity. 
            </div>

            <!-- <a href="javascript:void(0)" class="mt-4 btn btn-primary">Check out more
                <img src="assets/media/icons/play.svg" class="ms-2">
            </a> -->
        </div>
    </div>
</section>

<section class="bggary sectionsapce">
    <div class="tabinfo">
        <div class="designprocess">
            <div class="home-beauto">
                <div>
                    <span class="title  ">Ideation To Product Delivery</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src={{gifUrl}} class="img-fluid  "alt="">
                </div>
                <!-- <div class="col-lg-3">
                    <div><img src="assets/media/icons/icon1.svg" alt=""></div>

                </div>
                <div class="col-lg-3">
                    <div><img src="assets/media/icons/icon2.svg" alt=""></div>

                </div>
                <div class="col-lg-3">
                    <div><img src="assets/media/icons/icon3.svg" alt=""></div>

                </div>
                <div class="col-lg-3">
                    <div><img src="assets/media/icons/icon4.svg" alt=""></div>

                </div>
                <div class="col-lg-3">
                    <div><img src="assets/media/icons/icon5.svg" alt=""></div>

                </div> -->
            </div>


        </div>
    </div>
</section>

<section class="pt-100 ourstrengths">
    <div class="bgbluecard">
    </div>
    <div class="tabinfo">
        <div class="ourstrengths">
            <div class="home-beauto">
                <div>
                    <span class="title  ">Capabilities</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                             <!--box1-->
                    <div class="card-gary">
                        <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                            <img src="assets/media/images/mechanical/R_D.webp" alt="" class="all-gif"></div>
                        <div class="cardtitle">R & D</div>
                        <div class="dsc">Integrating our Design <br> experience with latest <br> technologies
                        </div>
                    </div>
                    <!--boxend-->

                    <!--box1-->
                    <div class="card-white cardspace">
                        <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                            <img src="assets/media/images/mechanical/Machine-Process.webp" alt="" class="all-gif"></div>
                        <div class="cardtitle">Machining Processes</div>
                        <div class="dsc">Machining processes for shafts, <br>dies, moulds parts on our
                            VMC,<br> CNC and Lathe machines
                        </div>
                    </div>
                    <!--boxend-->


                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <!--box1-->
                    <div class="card-white cardspace">
                        <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                            <img src="assets/media/images/mechanical/3D-Model_1.webp" alt="" class="all-gif"></div>
                        <div class="cardtitle">3D Modelling</div>
                        <div class="dsc">Conceptualization, design<br> development with <br>validation.
                        </div>
                    </div>
                    <!--boxend-->

                    <!--box1-->
                    <div class="card-gary cardspace">
                        <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                            <img src="assets/media/images/mechanical/Design-Consulting.webp" alt="" class="all-gif"></div>
                        <div class="cardtitle">Design consultancy</div>
                        <div class="dsc">We develop design and <br>Ready
                            for manufacturing <br>inputs for Material <br> handling projects. </div>
                    </div>
                    <!--boxend-->
                </div>

                <div class="col-sm-12 col-md-12 col-xl-4 col-xxl-4">

                    <div class="tabgirdindi">
                    <!--box1-->
                    <div class="card-gary">
                        <div><img src="./assets/media/images/blueDiamond.svg" alt="" class="gif-background">
                            <img src="assets/media/images/mechanical/Machine-Process.webp" alt="" class="all-gif"></div>
                        <div class="cardtitle">Machining Processes</div>
                        <div class="dsc">Machining processes for shafts, <br>dies, moulds parts on our
                            VMC,<br> CNC and Lathe machines
                        </div>
                    </div>
                    <!--boxend-->


                    </div>


                </div>

            </div>



        </div>
    </div>
</section>

<section class="pb-100 above-quotes-space-new below-quotes-space  ">
    <div class="tabinfo">
        <div class="quotes ">
            <div class="bg">
                <div>
                    <span class="desing-sc-bold">G</span><span style="font-size: 72px;font-weight: 200;">ood</span>
                    <span class="desing-sc"> design is as </span>
                    <span class="desing-sc-bold">L</span><span style="font-size: 72px;font-weight: 200;">ittle</span>
                    <span class="desing-sc"> as possible</span> 
                </div>
            </div>
            <div class="quotesAu">-Deter Rams </div>
        </div>
    </div>
</section>


<!-- <section>
    <app-case-studies [caseStudyItems]="caseStudyItems" [title]="title"></app-case-studies>
</section> -->