<div class="innbanners">
    <div class="row align-items-center m-0 services-top">
        <div class="col-md-5 offset-md-1 pb-4 mb-2 pb-md-0 mb-md-0 pt-4 mt-2 mt-md-0 pt-md-0">
            <div class="info">
                <div class="bannertxt"> Product</div>
                <div class="subbannertxt">Developement</div>
                <div class="subinfo">
                    Innovating ideas into reality - Creating efficient software solutions to meet your unique needs.
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0 video-4k">
            <div class="y-tube">
                <!-- <iframe width="100%" height="415" src="https://www.youtube.com/embed/wT3oce4Uibk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
                <video width="100%" height="auto" autoplay muted>
                    <source src="assets/media/images/pagein/Software/Product Development.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<section class="bggary sectionsapce">
    <div class="tabinfo">
        <div class="designprocess">
            <div class="home-beauto">
                <div>
                    <span class="title  ">What is it we have and deliver</span>
                </div>
            </div>

            <div class="physicalInfo  ">
                <p class="what-is-design-text">Designed specifically for use by enterprise-level entities to manage and
                    automate various business processes such as supply chain management, customer relationship
                    management, and financial management, we nurture our ever-growing expertise in programming
                    languages, database management, system architecture and user experience design at Beauto with the
                    help of experienced software developers, designers, project managers and product managers with a
                    proven track record of delivering high-quality enterprise software products.</p>
            </div>
        </div>
    </div>
</section>

<section class="sectionsapce ourstrengths">

    <div class="tabinfo">
        <div class="ourstrengths">
            <div class="home-beauto">
                <div>
                    <span class="title  ">Our Capabilities</span>
                </div>
            </div>

            <div class="ourbg">

                <div class="row m-0">

                    <div class=" col-sm-12 col-md-5 col-lg-6 col-xl-6 col-xxl-6 t-center  "> 
                         <img src="assets/media/images/our-capabilitites/01_Product-Development_GIF.gif" alt="" class="gif-file"></div>
                    <div class=" col-sm-12 col-md-7 col-lg-6 col-xl-6 col-xxl-6  ">

                        <div class="Capabilitiesinfo">
                            <ul>
                                <li>Programming</li>
                                <li>User experience</li>
                                <li>DevOps</li>
                                <li>Database management</li>
                                <li>Product management</li>
                                <li>Quality assurance</li>
                                <li>Architecture design</li>
                                <li>Project management</li>
                                <li>Integration with other systems</li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<section class="bggary">
    <app-case-studies [caseStudyItems]="caseStudyItems" [title]="title"></app-case-studies>
</section>
<section class="bglet" *ngIf="!connectClicked">
    <div class="Somethingbtn position-relative">
        <div class="t-em">
            Let's Build <br>
            Something Awesome!
            <br>
            <a href="javascript:void(0)" (click)="connect()" class="mt-5 btn btn-secondary">
                Connect now
            </a>
        </div>
        <img width="200px" src="assets/media/images/logo_outline.svg" alt="" class="logo-shadow">
    </div>
</section>

<app-connect-now *ngIf="connectClicked" (close)="connectCloseClicked($event)"></app-connect-now>