<div class="position-relative p-5">
    <a class="close" href="javascript:void(0)" (click)="closeDialog()">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2209_30515)">
                <path d="M15 5L5 15" stroke="black" stroke-width="1.25" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path d="M5 5L15 15" stroke="black" stroke-width="1.25" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </g>
            <defs>
                <clipPath id="clip0_2209_30515">
                    <rect width="20" height="20" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
    </a>
    <h4 class="mb-3 mt-2"><span class="w-300"> Call </span><strong> Us</strong></h4>
    <a href="tel:+918956031197" class="d-flex h4 text-primary w-700 mb-3">(+91) 895 6031 197</a>
    <a href="tel:+918337660046" class="h4 text-primary w-700">(+91) 833 7660 046</a>
</div>
